body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#a1 {
    margin-left: 30px;
}
header{
    position: sticky;
    top: 0px;
    height: 120px;
    width: 100%;
}
nav {
   
    display: flex;
    padding: 15px 20px;
    background: black;
    color: white;
}
nav:hover {
background-color: #55343b;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Cantarell", serif;
    font-weight: 400;
    font-style: normal;
}

#n1 {
    margin-left: 300px;
}





#absolute{
    background-color: black;
    color: white;
    margin-top: -50px;
    text-align: center;
   padding-top: 200px;
   padding-bottom: 200px;
}


#absolute h1 {
    font-size: 50px;
    font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

#absolute p {
    font-size: 20px;
    font-family: "Cantarell", serif;
  font-weight: 400;
  font-style: normal;
}

#absolute a {
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    background-color:  #55343b;
    font-family: "Cantarell", serif;
  font-weight: 400;
  font-style: normal;
}



.products {
    color: white;
margin-top: 1px;
    background-color: black;
    padding: 20px;
    text-align: center;
}

.products h1 {
    font-size: 30px;
    padding: 20px 0px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.product {
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 50px;
}

.product:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.50s;
}

hr {
    border: white;
}
p{
    font-family: "Cantarell", serif;
  font-weight: 400;
  font-style: normal;
}




.product1-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

#nn {
    background-color: rgb(26, 25, 25);
    font-size: 16px;
    border-radius: 10px;
    height: 150px;
    width: 350px;
}



.products1 {
    color: white;
    margin-top: 1px;
    background-color: rgb(1, 1, 19);
    padding: 20px;
    text-align: center;
}

.products1 h1 {
    font-size: 50px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.products1 p {
    font-size: 16px;
}

.product2-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.product2:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.50s;
}

div.product2 {
    margin: 5px;
    float: left;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    background-color: rgb(34, 34, 34);
}

div.product2 p {
    font-size: 14px;
}

div.product2:hover {
    border: 1px solid rgb(1, 1, 19);
}

div.product2 img {
    border-radius: 30px, 30px, 0px, 0px;
    width: 100%;
    height: 70%;
}

div.desc {
    background-color: rgb(34, 34, 34);
    padding: 5px;
    text-align: center;
}






.product4-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;

}
.produc h3 {
    font-size: 30px;
    padding: 0px 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.produc p {
    font-size: 14px;
    padding: 5px 10px;
}






#fname{
    height: 30px;
    width: 350px;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(51, 50, 50);
    border: 1px solid rgb(68, 44, 68);
}
#email{
    height: 30px;
    width: 350px;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(51, 50, 50);
    border: 1px solid rgb(56, 35, 56);
}
#submit{
    height: 35px;
    width: 380px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: gray;
    border: 1px solid rgb(56, 35, 56);
}
#message{
    font-size: 18px;
    width: 350px;
    padding: 0px 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(51, 50, 50);
    border: 1px solid rgb(56, 35, 56);
    resize: vertical;
    overflow: auto;
}







#foot{
    padding-top: 50px;
    margin-top: 1px;
    color: white;
    column-count: 3;
    background-color: black;
    padding-left: 50px;
    padding-bottom: 50px;
}
#fff{
    margin-top: 100px;
}
#emai{
    margin-right: 20px;
    height: 30px;
    width: 170px;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(51, 50, 50);
    border: 1px solid rgb(56, 35, 56);
}
#foot h3{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
}
#h3{
    margin-left: 30px;
}
#foot p{
    font-size: 14px;
}

#foot ul li{
   list-style-type: none;
}
#ic{
    color: gray;
    margin-left: 30px;
}














@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }
}